<div class="container-fluid">
  <div class="row row-cols-2 g-3">
    <div class="col">
      <div class="card-item h-100">
        <span class="card-title">List years with multiple winners</span>

        <table class="table table-bordered table-striped table-hover mt-3">
          <thead class="table-secondary">
            <tr>
              <th scope="col">Year</th>
              <th scope="col">Win Count</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1986</td>
              <td>2</td>
            </tr>
            <tr>
              <td>1990</td>
              <td>2</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col">
      <div class="card-item h-100">
        <span class="card-title">Top 3 studios with winners</span>

        <table class="table table-bordered table-striped table-hover mt-3">
          <thead class="table-secondary">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Win Count</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1986</td>
              <td>2</td>
            </tr>
            <tr>
              <td>1990</td>
              <td>2</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col">
      <div class="card-item h-100">
        <span class="card-title">Producers with longest and shortest interval between wins</span>

        <h5 class="fw-normal mt-3">Maximum</h5>
        <table class="table table-bordered table-striped table-hover">
          <thead class="table-secondary">
            <tr>
              <th scope="col">Producer</th>
              <th scope="col">Interval</th>
              <th scope="col">Previews Year</th>
              <th scope="col">Following Year</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1986</td>
              <td>2</td>
              <td>1986</td>
              <td>2</td>
            </tr>
            <tr>
              <td>1990</td>
              <td>2</td>
              <td>1986</td>
              <td>2</td>
            </tr>
          </tbody>
        </table>

        <h5 class="fw-normal mt-3">Minimum</h5>
        <table class="table table-bordered table-striped table-hover">
          <thead class="table-secondary">
            <tr>
              <th scope="col">Producer</th>
              <th scope="col">Interval</th>
              <th scope="col">Previews Year</th>
              <th scope="col">Following Year</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1986</td>
              <td>2</td>
              <td>1986</td>
              <td>2</td>
            </tr>
            <tr>
              <td>1990</td>
              <td>2</td>
              <td>1986</td>
              <td>2</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col">
      <div class="card-item h-100">
        <span class="card-title">List movie winners by year</span>

        <div class="d-flex align-items-center mt-4">
          <input
            type="text"
            class="form-control"
            placeholder="Search by year"
            aria-label="Search by year"
            aria-describedby="button-search"
          >
          <button class="btn btn-primary ms-3" type="button" id="button-search">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>

        <table class="table table-bordered table-striped table-hover mt-3">
          <thead class="table-secondary">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Year</th>
              <th scope="col">Title</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1986</td>
              <td>2</td>
              <td>2</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
