<div
  *ngIf="loading else moviesList"
  class="d-flex flex-grow-1 align-items-center justify-content-center"
>
  <i class="fa-solid fa-spinner fa-spin-pulse me-3"></i> Loading...
</div>
<ng-template #moviesList>
  <div class="card-item w-100 h-100">
    <span class="card-title">
      List movies
    </span>

    <table class="table table-sm table-bordered table-striped table-hover mt-3">
      <thead class="table-secondary ">
        <tr>
          <th scope="col" class="align-middle text-center w-25">ID</th>
          <th scope="col" class="align-middle text-center w-25">
            Year
            <div class="input-group input-group-sm">
              <input
                type="text"
                class="form-control"
                placeholder="Filter by year"
                aria-label="Filter by year"
                [(ngModel)]="year"
                (keydown.enter)="checkIsValidYear()"
                (keydown)="onlyNumbers($event)"
                [class.border-danger]="yearError"
              >
              <ng-container *ngIf="year.length">
                <span id="enter-text" class="input-group-text">Enter</span>
                <button id="btn-clear" class="btn btn-secondary" type="button" (click)="clearYearFilter()">
                  <i class="fa-solid fa-xmark"></i>
                </button>
              </ng-container>
            </div>
          </th>
          <th scope="col" class="align-middle text-center w-25">Title</th>
          <th scope="col" class="align-middle text-center w-25">
            Winner?
            <div class="input-group input-group-sm">
              <select class="form-select" [(ngModel)]="winner" (ngModelChange)="getMovies(0)">
                <option
                  *ngFor="let option of winnerOptions"
                  [value]="option.value"
                  class="text-center"
                >
                  {{ option.viewValue }}
                </option>
              </select>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="list?.totalElements === 0">
          <td colspan="4" class="py-5">
            <div class="d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-magnifying-glass"></i>
              <span class="ms-3">No movies found</span>
            </div>
          </td>
        </tr>
        <tr *ngFor="let movie of list.content">
          <td>{{movie.id}}</td>
          <td>{{movie.year}}</td>
          <td>{{movie.title}}</td>
          <td>{{movie.winner ? 'Yes' : 'No'}}</td>
        </tr>
      </tbody>
      <tfoot class="table-secondary" *ngIf="list?.totalPages > 1">
        <tr>
          <td colspan="4" class="py-0">
            <div class="d-flex align-items-center justify-content-center">
              <div
                id="first"
                class="pagination-item"
                [class.disabled]="list.first"
                (click)="!list.first ? getMovies(0) : null"
              >
                <i class="fa-solid fa-backward-step"></i>
              </div>
              <div
                id="previous"
                class="pagination-item"
                [class.disabled]="list.first"
                (click)="!list.first ? getMovies(page - 1) : null"
              >
                <i class="fa-solid fa-play rotate-180"></i>
              </div>

              <ng-container
                *ngFor="let pageNumber of pages"
              >
                <div
                  class="pagination-item page-number"
                  [class.active]="page === pageNumber - 1"
                  (click)="!(page === pageNumber - 1) ? getMovies(pageNumber - 1) : null"
                >
                  {{ pageNumber }}
                </div>
              </ng-container>

              <div
                id="next"
                class="pagination-item"
                [class.disabled]="list.last"
                (click)="!list.last ? getMovies(page + 1) : null"
              >
                <i class="fa-solid fa-play"></i>
              </div>
              <div
                id="last"
                class="pagination-item"
                [class.disabled]="list.last"
                (click)="!list.last ? getMovies(list.totalPages - 1) : null"
              >
                <i class="fa-solid fa-forward-step"></i>
              </div>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</ng-template>
